.home-about {
	background: #FFFFFF;
	padding   : 135px;

	.box-content {
		display: block;
		width  : 845px;
		margin : 0 auto;

		p {
			color     : #2B2B2B;
			text-align: center;
			font-size : 24px;
		}
	}
}