.lich-su-hinh-thanh {
	margin       : 60px 0 80px;
	padding-right: 40px;

	.main-title {
		font-size    : 34px;
		color        : #2B2B2B;
		font-weight  : 700;
		margin-bottom: 40px;
	}

	.main-content {
		p {
			font-size    : 18px;
			color        : #4D4D4D;
			margin-bottom: 30px;

			&.bold {
				color        : #2B2B2B;
				font-weight  : 700;
				margin-bottom: 15px;
			}

			&:last-child {
				margin-bottom: 55px;
			}
		}

		figure {
			margin: 30px 0;

			img {
				width: 100%;
			}
		}
	}

	.detail-content {
		p {
			font-size    : 18px;
			font-weight  : 400;
			color        : #4D4D4D;
			margin-bottom: 10px;

			span {
				color       : #3E4095;
				margin-right: 10px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin       : 30px 0;
		padding-right: 15px;

		.main-title {
			margin-bottom: 15px;
		}

		.main-content {
			p {
				font-size    : 16px;
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 15px;
				}
			}

			figure {
				margin: 15px 0;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 15px 0;

		.main-title {
			font-size: 24px;
		}

		.main-content {
			p {
				font-size: 16px;
			}
		}

		.detail-content {
			p {
				font-size: 16px;
			}
		}
	}
}