section.home-about.wow.zoomIn(data-wow-delay=".2s")
	.container
		.box-content
			p NPV Express and Logistics được thành lập năm 2004, được biết đến là một trong những nhà cung cấp hàng đầu Việt Nam trong ngành Chuyển phát nhanh quốc tế,  Dịch vụ quản lý vận chuyển và Logistics.