section.introduce
	.container
		.row
			.col-lg-6
				.title
					span Giới thiệu về
					h3 NPV EXPRESS & LOGISTICS
				.description
					p.bold NPV Express and Logistics được thành lập năm 2004, được biết đến là một trong những nhà cung cấp hàng đầu Việt Nam trong ngành Chuyển phát nhanh quốc tế,  Dịch vụ quản lý vận chuyển và Logistics.
					p NPV tập trung việc cung cấp dịch vụ đáng tin cậy nhất với giá hợp lý cho tất cả nhu cầu phân phối của bạn. Độ tin cậy của chúng tôi còn đi xa hơn việc giao hàng an toàn và đúng hạn đơn thuần. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
					p In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
			.col-lg-6
				figure
					img(src="./img/about/1.png", alt="")