section.sologan.wow.fadeIn(data-wow-delay=".5s")
	.container
		.block-content
			.content
				span Mục tiêu của NPV Express Logistics là phục vụ quý khách hàng với phương châm:
				ul.list-item
					li.item HIỆU QUẢ CAO
						img(src="./img/icons/sologan.png", alt="", srcset="")
					li.item CHI PHÍ THẤP
						img(src="./img/icons/sologan.png", alt="", srcset="")
					li.item NHANH CHÓNG VÀ UY TÍN