section.service-list
	.container
		.row
			.col-lg-6
				.list-img
					.item
						figure
							img(src="./img/about/2.png", alt="")
					.item
						figure
							img(src="./img/about/3.png", alt="")
					.item
						figure
							img(src="./img/about/4.png", alt="")
					.item
						figure
							img(src="./img/about/5.png", alt="")
			.col-lg-6
				.list-item-service
					h4 Hiện tại, NPV cung cấp tất cả các dịch vụ của ngành giao nhận vận tải nhằm hướng tới một NPV tiêu chuẩn quốc tế chuyên nghiệp:
					.item
						h5 - Chuyển phát nhanh quốc tế
					.item
						h5 - Giao nhận vận tải quốc tế
						ul
							li + Hàng không
							li + Đường biển
					.item
						h5 - Dịch vụ Logistics 
						ul
							li + Khai báo hải quan
							li + Vận chuyển đường bộ
							li + Hàng dự án
					.item
						h5 - Dịch vụ gia tăng giá trị
						ul
							li + Những dịch vụ hỗ trợ cho khai hải quan
							li (Kiểm văn hóa, Kiểm tra chất lượng nhà nước)
							li + Dịch vụ mua bảo hiểm
							li + Hàng cá nhân
							li + Đăng ký xin giấy phép
							li + Dịch vụ mua bảo hiểm
					.item
						h5 - Thương mại
						ul
							li + Container
							li + Thiết bị dầu khí