.container
	.row
		.col-lg-8.vismis
			//- TITLE LỚN CỦA BÀI VIẾT
			.main-title.wow.fadeIn(data-wow-delay=".5s") CÁC CHÍNH SÁCH
			//- NỘI DUNG CHÍNH
			.ckFinder
				p(style="font-weight:700") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
			//- TITLE CHI TIẾT
			.ckFinder
				p(style="color: #3E4095") CHÍNH SÁCH CHẤT LƯỢNG
			//- NỘI DUNG CHI TIẾT
			.ckFinder
				P Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				P In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
				figure
					img(src="./img/about/7.png", alt="")
			.ckFinder
				p(style="color: #3E4095") CHÍNH SÁCH KINH DOANH
			.ckFinder
				P Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				P In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
			.ckFinder
				p(style="color: #3E4095") CHÍNH SÁCH NHÂN SỰ
			.ckFinder
				P Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				P In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
		.col-lg-4
			include ../../_layout/_aside-menu.pug