.container
	.row
		.col-lg-8.tam-nhin-su-menh
			.main-title.wow.fadeIn(data-wow-delay=".5s") TẦM NHÌN SỨ MỆNH
			.main-content
				p.bold Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
				p In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean vulputate eleifend tellus.
			.detail-title TẦM NHÌN
			.detail-content
				p - Trở thành một trong những nhà cung cấp dịch vụ Logistics toàn cầu chuyên nghiệp, để đem lại giá trị và lợi ích cho khách hàng.
			.detail-title SỨ MỆNH
			.detail-content
				p - Đáp ứng nhu cầu cụ thể của từng khách hàng.
				p - Cung cấp giải pháp tốt nhất cho khách hàng với chất lượng dịch vụ tốt nhất tương ứng với giá trị chi phí.
				p - Đáp ứng những thách thức trong ngành vận chuyển bằng cách nhận diện hướng phát triển mới và thay đổi để đáp ứng xu thế thị trường.
				p - Liên tục nghiên cứu và phát triển dịch vụ để đáp ứng nhu cầu phát triển cao nhất của khách hàng..
				p - Tập trung việc phát triển, khen thưởng, đào tạo nguồn lực có khả năng đặc biệt, tạo môi trường làm việc thuận lợi, cơ hội phát triển tối đa cho nhân viên.
		.col-lg-4
			include ../../_layout/_aside-menu.pug