section.cac-chinh-sach
	.container
		.row
			.col-lg-8
				//- TITLE LỚN CỦA BÀI VIẾT
				.main-title CÁC CHÍNH SÁCH
				//- NỘI DUNG CHÍNH
				.main-content
					p.bold Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient.
				//- TITLE CHI TIẾT
				.detail-title CHÍNH SÁCH CHẤT LƯỢNG
				//- NỘI DUNG CHI TIẾT
				.detail-content
					P Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
					P In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
					figure
						img(src="./img/about/7.png", alt="")
				.detail-title CHÍNH SÁCH KINH DOANH
				.detail-content
					P Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
					P In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
				.detail-title CHÍNH SÁCH NHÂN SỰ
				.detail-content
					P Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
					P In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
				//- CÁC MẠNG XÃ HỘI ĐỂ CHIA SẺ
				include ../social-media/social-media.pug
			.col-lg-4
				include ../../_layout/_aside-menu.pug