.aside-tracking {
	margin-top: 130px;

	.col-lg-8 {
		padding-right: 40px;
	}

	.title-tracking {
		margin-bottom: 20px;

		h3 {
			font-size      : 24px;
			font-weight    : 400;
			text-decoration: underline;
			color          : #3E4095;
		}
	}

	.list-tracking {
		background: #F3F3F3;

		.item {
			color        : #2B2B2B;
			line-height  : 80px;
			padding-left : 15px;
			border-bottom: 1px dotted #707070;
			transition   : .2s all ease-in-out;

			&:hover {
				color     : #FFFFFF;
				background: #3E4095;
			}
		}
	}
}