.aside-same-news
	.title
		h3 TIN TUYỂN DỤNG KHÁC
	.list-same-news
		-for(i=12;i<21;i++)
			.item
				a(href="tintuc-ct.html")
					figure
						.box-img
							img.ofc(src="./img/news/"+i+".png", alt="", srcset="")
							.icon
						figcaption
							.title-news.limit-line TUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪNTUYỂN DỤNG NHÂN VIÊN LẬP TRÌNH LƯƠNG HÂP DẪN
							.time 19.08.2019