.container
	.row
		.col-lg-8.yeu-cau-bao-gia
			.title.wow.fadeIn(data-wow-delay=".3s")
				h3 YÊU CẦU BÁO GIÁ
			p Trong trường hợp quý khách hàng có yêu cầu về dịch vụ Giao hàng tận nơi, Khai thuê Hải quan hoặc các dịch vụ khác vui lòng điền các yêu cầu theo mẫu dưới đây để nhận được báo giá.
			form(action="#" method="method")
				.form-row
					.form-group.col-lg-6
						input#name(type="text" placeholder="Họ và tên*")
					.form-group.col-lg-6
						input(type="text" placeholder="Partner ID (nếu có)")
					.form-group.col-lg-6
						input(type="text" placeholder="Số điện thoại*")
					.form-group.col-lg-6
						input(type="text" placeholder="Công ty")
					.form-group.col-lg-6
						input(type="text" placeholder="Email*")
					.form-group.col-lg-6
						input(type="text" placeholder="Địa chỉ")
					.form-group.col-lg-6
						input(type="text" placeholder="Tên hàng hóa*")
					.form-group.col-lg-6
						input(type="text" placeholder="Số lượng*")
					.form-group.col-lg-6
						input(type="text" placeholder="Tổng trọng lượng* (kgs)")
					.form-group.col-lg-6
						input(type="text" placeholder="Tổng khối  lượng* (cbm)")
					.form-group.col-lg-6
						select(name="")
							option(value="") Phương thức vận chuyển*
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						select(name="")
							option(value="") Loại hình* (xuất/nhập)
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						select(name="")
							option(value="") Dịch vụ yêu cầu*
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						input(type="text" placeholder="Dịch vụ khác")
					.form-group.col-lg-6
						input(type="text" placeholder="Cảng xếp hàng")
					.form-group.col-lg-6
						input(type="text" placeholder="Cảng dỡ hàng")
					.form-group.col-lg-6
						input(type="text" placeholder="Nơi nhận (nếu có)")
					.form-group.col-lg-6
						input(type="text" placeholder="Nơi giao (nếu có)")
					.form-group.col-lg-6
						label Ngày hàng sẵn sàng *
						input(type="date")
					.form-group.col-lg-6
						label Ngày yêu cầu giao hàng *
						input(type="date")
					.form-group.col-lg-6
						select(name="")
							option(value="") Incoterm
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
				table
					thead
						tr
							th(colspan=3) Kích thước kiện (cm)
							th(rowspan=2) Số lượng (kiện)
							th(rowspan=2) Trọng lượng / kiện (kgs)
							th(rowspan=2) Tổng thể tích (cbm)
							th(rowspan=2) Tổng trọng lượng (kgs)
							th(colspan=2) Trọng lượng tính cước (kgs)
						tr
							th Dài
							th Rộng
							th Cao
							th Air
							th Courier
					tbody
						tr.table-input
							td
								input.dai(type="number" placeholder="123 cm")
							td
								input.rong(type="number" placeholder="123 cm")
							td
								input.cao(type="number" placeholder="123 cm")
							td
								input.soluong(type="number" placeholder="5 kiện")
							td
								input.trongluong(type="number" placeholder="123 kgs")
							td
								input.tongthetich(type="number" readonly)
							td
								input.tongtrongluong(type="number" readonly)
							td
								input.tongtrongluongAIR(type="number" readonly)
							td
								input.tongtrongluongCourier(type="number" readonly)
						tr.table-tong-cong
							td(colspan=3)
								input(type="number" readonly placeholder="Tổng Cộng")
							td
								input(type="number" readonly)
							td
								input(type="number" readonly)
							td
								input(type="number" readonly)
							td
								input(type="number" readonly)
							td
								input(type="number" readonly)
							td
								input(type="number" readonly)
				//- 3 THÔNG SỐ CHO BACK END LẤY DATA (BỊ ẨN - THÊM ATTR HIDDEN ĐỂN ẨN)
				.form-row
					.form-group.col-lg-4
						label Dài Rộng Cao ( Bị Ẩn )
						textarea.small.box-hiden-dai-rong-cao(name="" placeholder="Dài x Rộng x Cao")
					.form-group.col-lg-4
						label(for) Số lượng ( Bị Ẩn )
						textarea.small.box-so-luong(name="" placeholder="Số lượng")
					.form-group.col-lg-4
						label(for) Trọng lượng ( Bị Ẩn )
						textarea.small.box-trong-luong(name=""  placeholder="Trọng lượng")
				//- KẾT THÚC
				.form-row
					.form-group.col-lg-12
						textarea.big(placeholder="Yêu cầu dịch vụ*")
						button.submit
							img(src="./img/icons/submit-form.svg", alt="")
							span Gửi
				p (*) Phần thông tin bắt buộc
		.col-lg-4
			include ../../_layout/_aside-menu.pug
