.container
	.row
		.col-lg-8.section-tienich.tienich-container
			h2.tienich-title.wow.fadeIn(data-wow-delay=".3s") Kích thước Container
			.tienich-table
				table
					thead
						tr
							th 20' dry container
							th(colspan="4") chi tiết kỹ thuật
					tbody
						tr
							td(rowspan="12" style="max-width: 340px; width: 340px")
								img(src="./img/tienich/t_1.jpg", alt="")
							td(rowspan="3") Bên ngoài
							td Rộng
							td 2,440 mm
							td 8 ft
						tr
							td Cao
							td 2,590 mm
							td 8 ft 6.0 in
						tr
							td Dài
							td 9,060 mm
							td 20 ft
						tr
							td(rowspan="3") Bên trong
							td Rộng
							td 2,352 mm
							td 7 ft 8.6 in
						tr
							td Cao
							td 2,395 mm
							td 7 ft 10.3 in
						tr
							td Dài
							td 5,898 mm
							td 19 ft 4.2 in
						tr
							td(rowspan="2") Bên trong
							td Rộng
							td 2,340 mm
							td 92.1 in
						tr
							td Dài
							td 2,280 mm
							td 89.7 in
						tr
							td(colspan="2") Khối lượng
							td 33.2 cu m
							td 1,173 cu ft
						tr
							td(colspan="2") Trọng lượng cont
							td 2,200 kg
							td 4,850 lbs
						tr
							td(colspan="2") Trọng lượng hàng
							td 28,280 kg
							td 62,346 lbs
						tr
							td(colspan="2") Trọng tải tối đa
							td 30,480 kg
							td 67,196 lbs
			.tienich-table
				table
					thead
						tr
							th 40' dry container
							th(colspan="4") chi tiết kỹ thuật
					tbody
						tr
							td(rowspan="12" style="max-width: 340px; width: 340px")
								img(src="./img/tienich/t_2.jpg", alt="")
							td(rowspan="3") Bên ngoài
							td Rộng
							td 2,440 mm
							td 8 ft
						tr
							td Cao
							td 2,590 mm
							td 8 ft 6.0 in
						tr
							td Dài
							td 6,060 mm
							td 20 ft
						tr
							td(rowspan="3") Bên trong
							td Rộng
							td 2,352 mm
							td 7 ft 8.6 in
						tr
							td Cao
							td 2,395 mm
							td 7 ft 10.3 in
						tr
							td Dài
							td 5,898 mm
							td 19 ft 4.2 in
						tr
							td(rowspan="2") Bên trong
							td Rộng
							td 2,340 mm
							td 92.1 in
						tr
							td Dài
							td 2,280 mm
							td 89.7 in
						tr
							td(colspan="2") Khối lượng
							td 33.2 cu m
							td 1,173 cu ft
						tr
							td(colspan="2") Trọng lượng cont
							td 2,200 kg
							td 4,850 lbs
						tr
							td(colspan="2") Trọng lượng hàng
							td 28,280 kg
							td 62,346 lbs
						tr
							td(colspan="2") Trọng tải tối đa
							td 30,480 kg
							td 67,196 lbs
			.tienich-table
				table
					thead
						tr
							th 40' dry container
							th(colspan="4") chi tiết kỹ thuật
					tbody
						tr
							td(rowspan="12" style="max-width: 340px; width: 340px")
								img(src="./img/tienich/t_2.jpg", alt="")
							td(rowspan="3") Bên ngoài
							td Rộng
							td 2,440 mm
							td 8 ft
						tr
							td Cao
							td 2,590 mm
							td 8 ft 6.0 in
						tr
							td Dài
							td 6,060 mm
							td 20 ft
						tr
							td(rowspan="3") Bên trong
							td Rộng
							td 2,352 mm
							td 7 ft 8.6 in
						tr
							td Cao
							td 2,395 mm
							td 7 ft 10.3 in
						tr
							td Dài
							td 5,898 mm
							td 19 ft 4.2 in
						tr
							td(rowspan="2") Bên trong
							td Rộng
							td 2,340 mm
							td 92.1 in
						tr
							td Dài
							td 2,280 mm
							td 89.7 in
						tr
							td(colspan="2") Khối lượng
							td 33.2 cu m
							td 1,173 cu ft
						tr
							td(colspan="2") Trọng lượng cont
							td 2,200 kg
							td 4,850 lbs
						tr
							td(colspan="2") Trọng lượng hàng
							td 28,280 kg
							td 62,346 lbs
						tr
							td(colspan="2") Trọng tải tối đa
							td 30,480 kg
							td 67,196 lbs
		.col-lg-4
			include ../../_layout/_aside-menu.pug