.container
	.row
		.col-lg-8.section-tienich.tienich-chuyendoi
			h2.tienich-title.wow.fadeIn(data-wow-delay=".3s") Chuyển đổi đơn vị
			.tienich-table
				table
					thead
						tr
							th(colspan="7") Length
					tbody
						tr
							th Meter
							th Kilometer
							th Inch
							th Foot
							th Yard
							th Mile
							th Nautifcal
						- for(i=0;i<7;i++)
							tr
								td 1
								td 0.001
								td 39.3701
								td 3.28084
								td 1.09361
								td 0.00062
								td 0.00053996
			.tienich-table
				table
					thead
						tr
							th(colspan="7") Area
					tbody
						tr
							th Meter
							th Kilometer
							th Inch
							th Foot
							th Yard
							th Mile
							th Nautifcal
						- for(i=0;i<7;i++)
							tr
								td 1
								td 0.001
								td 39.3701
								td 3.28084
								td 1.09361
								td 0.00062
								td 0.00053996
			.tienich-table
				table
					thead
						tr
							th(colspan="7") Volume
					tbody
						tr
							th Meter
							th Kilometer
							th Inch
							th Foot
							th Yard
							th Mile
							th Nautifcal
						- for(i=0;i<7;i++)
							tr
								td 1
								td 0.001
								td 39.3701
								td 3.28084
								td 1.09361
								td 0.00062
								td 0.00053996
		.col-lg-4
			include ../../_layout/_aside-menu.pug