.container
	.row
		.col-lg-8.vismis.tienich-tigia
			.main-title.wow.fadeIn(data-wow-delay=".3s") Tỉ giá ngoại tệ
			.tienich-table
				table
					thead
						tr
							th Mã ngoại tệ
							th Tên ngoại tệ
							th Mua tiền mặt
							th Mua chuyển khoản
							th Bán
					tbody
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
						tr
							td AUD
							td AUST.DOLLAR
							td 15438.18
							td 15438.18
							td 15438.18
		.col-lg-4
			include ../../_layout/_aside-menu.pug