h2.tienich-title Tỉ giá ngoại tệ
.tienich-table
	table
		thead
			tr
				th Mã ngoại tệ
				th Tên ngoại tệ
				th Mua tiền mặt
				th Mua chuyển khoản
				th Bán
		tbody
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18
			tr
				td AUD
				td AUST.DOLLAR
				td 15438.18
				td 15438.18
				td 15438.18