h2.tienich-title Incoterm 2000
.img
	img.lazyload(data-src='./img/tienich/t_4.jpg', alt='')
.content
	h3 EXW - EX WORKS (…named place)

	p "Ex Works" means that the seller delivers when he places the goods at the disposal of the buyer at the seller's premises or another named place (i.e. works, factory, Warehouse, etc.) not cleared for export and not loaded on any collecting vehicle. This term thus represents the minimum obligation for the seller, and the buyer has to bear all costs and risks involved in taking the goods from the seller’s premises.

	h3 FCA - FREE CARRIER (…named place)

	p "Free Carrier" means that the seller delivers the goods, cleared for export, to the carrier nominated by the buyer at the name placed. It should be noted that the chosen place of delivery has an impact on the obligations of loading and unloading the goods at that place.
	If delivery accurs at the sellors premises, the seller is responsible for loading. If delivery accurs at any other place, the sellor is not responsible for unloading.

	h3 FAS - FREE ALONGSIDE SHIP (…named port of shipment)

	p "Free alongside Ship" means that the seller delivers when the goods are placed alongside the vessel at the named port of shipment. This means that the buyer has to bear all costs and risks of losses of damage to the goods from that moment.

	h3 FOB - FREE ON BOARD (…named port of shipment)

	p "Free on Board" means that the seller delivers when the goods pass the ship's rail at the named port of shipment, this means that the buyer has to bear all costs and risk of loss of or damage to the goods from that point. The FOB term requires the seller to clear the goods for export. This term can be used only for sea or inland waterway transport.

	h3 CFR - COST AND FREIGHT (…named port of shipment)

	p "Cost and Freight" means that the seller delivers when the goods pass the ship's rail in the port of shipment. The seller must pay the costs and freight necessary to bring the goods to the named port of destination BUT risk of loss or damage to the goods, as well as any additional costs due to events occuring after the time of delivery, are transferred from the seller to the buyer. The CFR term requires the seller to clear the goods for export.

	h3 CIF - COST, INSURANCE AND FREIGHT (…named port of destination)

	p "Cost, Insurance and Freight" means that the seller delivers when the goods pass the ship's rail in the port of shipment. The seller must pay the costs and freight necessary to bring the goods to the named port of destination BUT the risk of loss or or damage to the goods, as well as any additional costs due to events occuring after the time of delivery, are transferred from the seller to the buyer, However, in CIF the seller also has to procure marine insurance against the buyers risk of loss of or damage to the goods during carriage. Consequently, the seller contracts for insurance and pays the insurance premium. The buyer should note that under CIF term, the seller is required to obtain insurance only on minimum cover. Should the buyer wish to have the protection of greater cover, he would either need to agree as much expressly with the seller or to make his own extra insurance arrangement.

include ../../_layout/_social-share