.container
	.row
		.col-lg-8.section-tienich.tienich-content-2
			h2.tienich-title.wow.fadeIn(data-wow-delay=".3s") PHỤ PHÍ HÀNG XUẤT
			.content-2
				strong OUTBOUND LOCAL CHARGE

				p Dear All Valued Customers,

				p Amerasian Shipping Logistics Corp. sincery thanks for your interesting and supporting to our services so far. Your continuted supporting has a part to implus our development and improve better the quality services in the future..

				p Bases on actualy condition as well as notices issued by carriers about local charges, now Amerasian Shipping Logitstics Corp would like to notice all customers about Inbound/Outbound local charges applying with effective from 01 Jannuary /2019 for all shipments to Hai Phong port as follows:
			.tienich-table
				h3 1, FULL CONTAINER LOAD EXPORT (FCL EXPORT)
				table
					thead
						tr
							th(rowspan='2') No
							th(rowspan='2') Description
							th(colspan='4') Price (VND)
						tr
							th 20'DC
							th 40'DC
							th 40'HQ
							th 45'HQ
					tbody
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
						tr
							td 1
							td Bill of lading fee (set)
							td 900,000
							td 900,000
							td 900,000
							td 900,000
			.tienich-table
				h3 2, LESS THAN CONTAINER LOAD (LCL EXPORT)
				table
					thead
						th No
						th Description
						th Price (VND)
						th Remark
					tbody
						tr
							td.center 1
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td.center 2
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td(rowspan='2').center 3
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td(rowspan='2').center 4
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td.center 5
							td Bill of lading fee (set)
							td 900,000
							td For wooden packages
						tr
							td.center 6
							td Bill of lading fee (set)
							td 900,000
							td Apply for shipent to Intra-Asia
			.tienich-table
				h3 3, AIR EXPORT SHIPMENT
				table
					thead
						th No
						th Description
						th Price (VND)
						th Remark
					tbody
						tr
							td.center 1
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td.center 2
							td Bill of lading fee (set)
							td 900,000
							td Non VAT 10%
						tr
							td(rowspan='2').center 3
							td Bill of lading fee (set)
							td 900,000
							td
								b Min: 160,000Vnd/shipment Labour fee will be changed if customer delivery cargo onver time.
						tr
							td Bill of lading fee (set)
							td 900,000
							td
						tr
							td.center 4
							td Bill of lading fee (set)
							td 900,000
							td
								b After 17:30 daily & 12:00 on Saturday
						tr
							td.center 5
							td Manifest transferring fee to US/ Canada/ Europe/ China/ Japan (AMS/ACI/ENS/AFR…)
							td 237,500
							td Bill of lading fee (set)
						tr
							td.center 6
							td Bill of lading fee (set)
							td 900,000
							td For wooden packages
			.content-2
				p.red - Note
				b + Above charges are not included VAT 10%
				b + For more information, please contact to our customer service department: 0225 3260906
		.col-lg-4
			include ../../_layout/_aside-menu.pug