.container
	.row
		.col-lg-8.vismis.tienich-tudien
			.main-title.wow.fadeIn(data-wow-delay=".3s") TỪ ĐIỂN HÀNG HẢI
			.tab-container
				.nav-characters.toggle-for
					a(toggle-for="a") A
					a(toggle-for="b") B
					a(toggle-for="c") C
					a(toggle-for="d") D
					a(toggle-for="e") E
					a(toggle-for="f") F
					a(toggle-for="g") G
					a(toggle-for="h") H
					a(toggle-for="i") I
					a(toggle-for="j") J
					a(toggle-for="k") K
					a(toggle-for="L") L
					a(toggle-for="m") M
					a(toggle-for="n") N
					a(toggle-for="o") O
					a(toggle-for="p") P
					a(toggle-for="q") Q
					a(toggle-for="r") R
					a(toggle-for="s") S
					a(toggle-for="t") T
					a(toggle-for="u") U
					a(toggle-for="v") V
					a(toggle-for="w") W
				.nav-content
					.tab-content(tab-id="a")
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="b")
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="c")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="d")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="e")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="f")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="g")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
					.tab-content(tab-id="h")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="i")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="j")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="k")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="L")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="m")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="n")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="o")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="p")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="q")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="r")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="s")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="t")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="u")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="v")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
					.tab-content(tab-id="w")
						
						.item
							h4 ACS (A.C.S.):
							p U.S. Customs master computer system, "Automated Commercial Systems."
						.item
							h4 Affreightment, Contract of:
							p An agreement by an ocean carrier to provide cargo space on a vessel at a specified time and for a specified price to accommodate an exporter or importer.
						.item
							h4 Air Waybill:
							p The forwarding agreement or carrying agreement between shipper and air carrier and is issued only in non-negotiable form.
						.item
							h4 All In:
							p The total price to move cargo from origin to destination, inclusive of all charges.
						.item
							h4 Alongside:
							p A phrase referring to the side of a ship. Goods delivered "alongside" are to be placed on the dock or barge within reach of the transport ship´s tackle so that they kan be loaded.
						.item
							h4 Ambient Temperature:
							p The temperature of a surrounding body. The ambient temperature of a container is the atmospheric temperature to which it is exposed.
						.item
							h4 AMS:
							p The U.S. Customs´ "Automated Manifest System."
						.item
							h4 Apparent Good Order:
							p When freight appears to be free of damage so far as a general survey can determine.
		.col-lg-4
			include ../../_layout/_aside-menu.pug