section.library
	.container
		.title
			h3 VIDEO
		.list-item
			-for(i=1;i<13;i++)
				.item
					figure
						.box-video
							img.ofc(src="./img/thuvien/"+i+".png", alt="")
							.icon
						figcaption
							h5
								span album:
								| Công trình hải cảng
							p 19.08.2019
			button.btn XEM THÊM
