extends _layout/_layout.pug

block var
	- var title = 'NPV | Các Chính Sách'

block main
	include ./_layout/_breadcrumb.pug
	include _components/about/a-7.pug
	include ./_components/social-media/social-media.pug