extends _layout/_layout.pug

block var
	- var title = 'NPV | Dịch Vụ'

block main
	include _components/banner/b-1.pug
	include ./_layout/_breadcrumb.pug
	include _components/list-service/s-2.pug
	include ./_components/social-media/social-media.pug