ul
	h2 THÔNG BÁO HÀNG ĐẾN
	li
		a(href="docForm-thong-bao-hang-den-01.html") Thông báo hàng đến - 01
	li
		a(href="docForm-thong-bao-hang-den-02.html") Thông báo hàng đến - 02
	li
		a(href="docForm-thong-bao-hang-den-03.html") Thông báo hàng đến - 03
	h2 BOOKING
	li
		a(href="docForm-booking-01.html") Booking - 01
	li
		a(href="docForm-booking-02.html") Booking - 02
	li
		a(href="docForm-booking-03.html") Booking - 03