extends _layout/_layout.pug

block var
	- var title = 'NPV | Các Doc Form'

block main
	.container
		ul
			h2 BOOKING
			li
				a(href="docForm-booking-01.html") Booking - 01 (Xong)
			li
				a(href="docForm-booking-02.html") Booking - 02 (Chưa Xong)
			li
				a(href="docForm-booking-03.html") Booking - 03 (Chưa Xong)
			h2 LỆNH GIAO HÀNG
			li
				a(href="docForm-lenh-giao-hang-01.html") Lệnh Giao Hàng 01 (Xong)
			li
				a(href="docForm-lenh-giao-hang-02.html") Lệnh Giao Hàng 02 (Đang làm)
			h2 THÔNG BÁO HÀNG ĐẾN
			li
				a(href="docForm-thong-bao-hang-den-01.html") Thông báo hàng đến - 01 (Xong)
			li
				a(href="docForm-thong-bao-hang-den-02.html") Thông báo hàng đến - 02 (Xong)
			li
				a(href="docForm-thong-bao-hang-den-03.html") Thông báo hàng đến - 03 (Xong)
			h2 BIÊN BẢN GIAO HÀNG
			li
				a(href="docForm-bien-bang-giao-hang-01.html") Biên bảng giao hàng - 01 (Xong)
			li
				a(href="docForm-bien-bang-giao-hang-02.html") Biên bảng giao hàng - 02 (Xong)
			li
				a(href="docForm-bien-bang-giao-hang-03.html") Biên bảng giao hàng - 03 (Xong)

			h2 GIẤY ỦY QUYỀN
			li
				a(href="docForm-giay-uy-quyen.html") Giấy ủy quyền (Xong)