doctype html

html(lang="en")

	head
		title NPV | Biên Bảng Giao Hàng 03
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap&subset=vietnamese" rel="stylesheet">

	body
		//- LOADING
		#loading
			.logo-loader
				img(src="./img/loading.gif", alt="")
			.progstat-wrapper Loading: 
				span#progstat 0
				| %
			#progress
		#fb-root
		//- MAIN CONTENT
		section#doc-form
			.header-docForm
				.container
					.row
						.col-lg-6
							.logo
								a(href="doc.html")
									img.ofc(src="./img/logo-big.png", alt="", srcset="")
						.col-lg-6
							ul.thong-tin-cong-ty
								li.item NPV EXPRESS & LOGISTICS
								li.item Floor 4, Thang Long Building, 29 Thang Long, Ward 04, Tan Binh
								li.item District, HCMC, Viet Nam
								li.item Tel: +84 3848 7858 Ext: 17 Fax: +84 3848 8858
								li.item E-mail: linh-na@npvexpress.com
			.content-docForm
				.container
					.row
						.title.col-lg-12
							.title-big BIÊN BẢNG GIAO HÀNG
							.title-small (Proof of Delivery)
						.box-right
							ul
								li
									span.title Ngày (Date):
									span 21/8/2019
						.text.col-lg-12
							p.bold Lô hàng với chi tiết như sau:
							p.italic (This is to certify that the following shipment)
						.nguoi-gui.col-lg-12
							.row
								.col-lg-6
									.row
										.col-lg-3
											span Người gửi 
												i (Shipper):
										.col-lg-9
											p GLOBAL LINK SOURCING LIMITED
							.row
								.col-lg-6
									.row
										.col-lg-3
											span Người nhận 
												i (Consignee):
										.col-lg-9
											p SONION VIETNAM CO., LTD.
											p HEAD OFFICE: LOT I3-9,SAIGON HI-TECH PARK, DIST.9,HO CHI MINH CITY,VIETNAM
						.thong-tin-don-hang.col-lg-12
							.row
								.col-lg-6
									.row
										.col-lg-3.item
											p Tàu:
											p (Vessel)
										.col-lg-9.item
											p WAN HAI 211
								.col-lg-6
									.row
										.col-lg-3.item
											p Chuyến:
											p (Voy.)
										.col-lg-9.item
											p V.S399
								.col-lg-6
									.row
										.col-lg-3.item
											p Từ:
											p (From)
										.col-lg-9.item
											p SHENZHEN
								.col-lg-6
									.row
										.col-lg-3.item
											p Đến cảng:
											p (Terminal)
										.col-lg-9.item
											p CAT LAI KHO 3
								.col-lg-6
									.row
										.col-lg-3.item
											p Ngày đến:
											p (Arrival Date)
										.col-lg-9.item
											p Sep 01, 2019
								.col-lg-6
									.row
										.col-lg-3.item
											p Vận đơn chính:
											p (M-B/L)
										.col-lg-9.item
											p S00037232
								.col-lg-6
									.row
										.col-lg-3.item
											p Ghi chú:
											p (Note)
										.col-lg-9.item
											p CFS/CFS
								.col-lg-6
									.row
										.col-lg-3.item
											p Vận đơn phụ:
											p (H-B/L)
										.col-lg-9.item
											p.bold S00038778
						.bang-thong-tin-don-hang.col-lg-12
							table
								thead
									tr
										th
											p SỐ CONTAINER
											p (Container No.)
										th
											p SỐ LƯỢNG
											p (Quantity)
										th
											p TÊN HÀNG HÓA
											p (Description)
										th
											p KHỐI LƯỢNG
											p Weight/Measurement
								tbody
									tr
										td
											p PART OF CONTAINER.
											p TCNU7034862/40HC/12551738
										td
											p 100 CTNS
										td
											p PACKAGING
											p RECEIVER
											p CLAMSHELL
											p HS CODE:3923900000
										td
											p 425.500 KGS
											p 8.278 CBM

						.text.col-lg-12
							p.bold Đã được giao trong tình trạng hoàn hảo đến:
							p.italic (Has been delivered in good order and conditions to)
						.thong-tin-don-hang.col-lg-12
							.row
								.col-lg-6
									.row
										.col-lg-3.item
											p Công ty:
											p (Company)
										.col-lg-9.item
											p SONION
							.row
								.col-lg-6
									.row
										.col-lg-3.item
											p Tại địa chỉ:
											p (Address)
										.col-lg-9.item
											p NPV OFFICE
							.row
								.col-lg-6
									.row
										.col-lg-3.item
											p Tên người nhận:
											p (Name of the receiver)
										.col-lg-9.item
											p MR THUONG
							.row
								.col-lg-6
									.row
										.col-lg-3.item
											p Thời điểm:
											p (Time of Delivery)
										.col-lg-9.item
											p CZ6077 Aug 21, 2019
								.col-lg-6
									.row
										.col-lg-3.item
											p Ngày:
											p (Date)
										.col-lg-9.item
											p CZ6077 Aug 21, 2019
							.row
								.col-lg-6
									.row
										.col-lg-3.item
											p Ghi chú:
											p (Remarks)
										.col-lg-9.item
											p CZ6077 Aug 21, 2019
							.row
								.col-lg-6.item
									p.text-center Thời điểm:
									p.text-center (Delivery by)
								.col-lg-6.item
									p.text-center Người nhận:
									p.text-center (Received by)