extends _layout/_layout.pug

block var
	- var title = 'NPV | Giới thiệu'

block main
	include ./_layout/_breadcrumb.pug
	include ./_components/about/a-2.pug
	include ./_components/social-media/social-media.pug