extends _layout/_layout.pug

block var
	- var title = 'NPV | Giới thiệu'
	- var bodyClass = 'gioithieu-page'

block main
	include ./_layout/_breadcrumb.pug
	include ./_components/about/a-2.pug
	include ./_components/about/a-3.pug
	include ./_components/about/a-4.pug
	include ./_components/social-media/social-media.pug