extends _layout/_layout.pug

block var
	- var title = 'NPV | Hệ Thống Cửa Hàng'
	- var bodyClass = 'hethongcuahang-page'

block main
	include ./_layout/_breadcrumb.pug
	include _components/contact/c-2.pug