extends _layout/_layout.pug

block var
	- var title = 'NPV | Tầm Nhìn Sứ Mệnh'
	- var bodyClass = 'tamnhinsumenh-page'

block main
	include ./_layout/_breadcrumb.pug
	include _components/about/a-5.pug