extends _layout/_layout.pug

block var
	- var title = 'NPV | Tiện Ích - Từ diển hàng hải'
	- var bodyClass = 'tienich-page'

block main
	include _layout/_breadcrumb
	.section-tienich.tienich-tudien
		.container
			.row
				.col-lg-8
					include _components/tienich/t-7
				.col-lg-4
					include _layout/_aside-menu