extends _layout/_layout.pug

block var
	- var title = 'NPV | Tiện Ích - Kích thước Container'
	- var bodyClass = 'tienich-page'

block main
	include _layout/_breadcrumb
	.section-tienich.tienich-container
		.container
			.row
				.col-lg-8
					include _components/tienich/t-1
				.col-lg-4
					include _layout/_aside-menu