.container
	.row
		.col-lg-8.request
			.title.wow.fadeIn(data-wow-delay=".3s")
				h3 ĐĂNG KÝ SHIPPING INSTRUCTION
			form(action="#" method="method")
				.form-row
					.form-group.col-lg-6
						label.color-red(for="Id_booking") ID Booking Note*
						input#Id_booking(type="text" placeholder="ID Booking Note")
					.form-group.col-lg-6
						label(for="Id_partner") ID Booking Note*
						input#Id_partner(type="text" placeholder="Partner ID (nếu có)")
					.form-group.col-lg-6
						label(for="shipper") Shipper*
						textarea#shipper(name="" placeholder="Shipper").small
					.form-group.col-lg-6
						label(for="consignee") Consignee*
						textarea#consignee(name="" placeholder="Consignee").small
					.form-group.col-lg-6
						label(for="notifyparty") Notify Party*
						textarea#notifyparty(name="" placeholder="Notify Party*").small
					.form-group.col-lg-6
						label(for="descriptionofgoods") Description of goods*
						textarea#descriptionofgoods(name="" placeholder="Description of goods*").small
					.form-group.col-lg-6
						label(for="portofloading") Port of loading*
						input#portofloading(type="text" placeholder="Port of loading")
					.form-group.col-lg-6
						label(for="portofdischarge") Port of discharge*
						input#portofdischarge(type="text" placeholder="Port of discharge*")
					.form-group.col-lg-6
						label(for="noofpackages") No of packages*
						input#noofpackages(type="text" placeholder="No of packages*")
					.form-group.col-lg-6
						label(for="grossweight") Gross Weight*
						input#grossweight(type="text" placeholder="Gross Weight*")
					.form-group.col-lg-6
						label(for="measurement") Measurement*
						input#measurement(type="text" placeholder="Measurement*")
					.form-group.col-lg-6
						label(for="shippingmarks") Shipping marks*
						textarea#shippingmarks(name="" placeholder="Shipping marks*").small
					.form-group.col-lg-6
						label(for="") Frieght*
						select(name="")
							option(value="") Prepaid
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						label(for="") Type of BL*
						select(name="")
							option(value="") Surrendered B/L
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						label(for="") Type of Shipping*
						select#type_Of_Move(name="")
							option(value="FCL") FCL
							option(value="LCL") LCL
							option(value="AIR") AIR
					.form-group.col-lg-6.AIR.hidden
						label(for="Dimension") Dimension*
						input#Dimension(type="text" placeholder="Dimension*")
				.form-row.FCL
					.form-group
						label(for="") Container/seal number
						.form-table-wrapper
							.row.no-gutters.tableForm
								input#containerNo(name='containerNo', type='hidden', value='[{"type":"40´FL","containerNo":"123","sealNo":"123","grossweight":1,"cbm":1,"package":3,"unit":"BOX"}]')
								.col-xl-6
									table
										thead
											tr
												th Type Container
												th ContainerNo
												th SealNo
												th GW
										tbody
											tr
												td
													select.TypeContainer
														option(value='20´DC') 20'DC
														option(value='20´FL') 20'FL
														option(value='20´GOH') 20'GOH
														option(value='20´OT') 20'OT
														option(value='20´RF') 20'RF
														option(value='40´DC') 40'DC
														option(value='40´FL') 40'FL
														option(value='40´GOH') 40'GOH
														option(value='40´HC') 40'HC
														option(value='40´HR') 40'HR
														option(value='40´OT') 40'OT
														option(value='40´RF') 40'RF
														option(value='45´HC') 45'HC
												td
													input.ContainerNo(type="text" placeholder="Nhập")
												td
													input.SealNo(type="text" placeholder="Nhập")
												td
													input.GW(type="number", value="0",  min="0" max="100")
								.col-xl-6
									table
										thead
											tr
												th CBM
												th Number of Package
												th Unit
												th Tác Vụ
										tbody
											tr
												td
													input.CBM(type="number", value="0",  min="0" max="100")
												td
													input.NumberOfPackage(type="number", value="0",  min="0" max="100")
												td
													select.Unit
														option(value='BAG') BAG
														option(value='BOX') BOX
														option(value='BOXES') BOXES
														option(value='CTNS') CTNS
														option(value='FEU') FEU
														option(value='PC') PC
														option(value='PKG') PKG
														option(value='PKGS') PKGS
														option(value='PCS') PCS
														option(value='ROLL') ROLL
												td.tac-vu
													img.add(src="./img/icons/tacvu-them.svg", alt="", srcset="")
													img.delete(src="./img/icons/tacvu-xoa.svg", alt="", srcset="")
				.tableFormHidden
					.form-group
						label Table Data Hidden
						textarea.big.box-hidden-data
				.form-row
					.form-group.col-lg-12
						label(for="remark") Remark
						textarea#remark(name="" placeholder="Remark").big
				button.btn.bg-blue ĐĂNG KÍ

		.col-lg-4
			include ../../_layout/_aside-menu.pug