.container
	.row
		.col-lg-8.request
			.title.wow.fadeIn(data-wow-delay=".3s")
				h3 ĐĂNG KÝ SHIPPING INSTRUCTION
			form(action="#" method="method")
				.form-row
					.form-group.col-lg-6
						label.color-red(for="Id_booking") ID Booking Note*
						input#Id_booking(type="text" placeholder="ID Booking Note")
					.form-group.col-lg-6
						label(for="Id_partner") ID Booking Note*
						input#Id_partner(type="text" placeholder="Partner ID (nếu có)")
					.form-group.col-lg-6
						label(for="shipper") Shipper*
						textarea#shipper(name="" placeholder="Shipper").small
					.form-group.col-lg-6
						label(for="consignee") Consignee*
						textarea#consignee(name="" placeholder="Consignee").small
					.form-group.col-lg-6
						label(for="notifyparty") Notify Party*
						textarea#notifyparty(name="" placeholder="Notify Party*").small
					.form-group.col-lg-6
						label(for="descriptionofgoods") Description of goods*
						textarea#descriptionofgoods(name="" placeholder="Description of goods*").small
					.form-group.col-lg-6
						label(for="portofloading") Port of loading*
						input#portofloading(type="text" placeholder="Port of loading")
					.form-group.col-lg-6
						label(for="portofdischarge") Port of discharge*
						input#portofdischarge(type="text" placeholder="Port of discharge*")
					.form-group.col-lg-6
						label(for="noofpackages") No of packages*
						input#noofpackages(type="text" placeholder="No of packages*")
					.form-group.col-lg-6
						label(for="grossweight") Gross Weight*
						input#grossweight(type="text" placeholder="Gross Weight*")
					.form-group.col-lg-6
						label(for="measurement") Measurement*
						input#measurement(type="text" placeholder="Measurement*")
					.form-group.col-lg-6
						label(for="shippingmarks") Shipping marks*
						textarea#shippingmarks(name="" placeholder="Shipping marks*").small
					.form-group.col-lg-6
						label(for="") Frieght*
						select(name="")
							option(value="") Prepaid
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						label(for="") Type of BL*
						select(name="")
							option(value="") Surrendered B/L
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
							option(value="") TEST
					.form-group.col-lg-6
						label(for="") Type of Shipping*
						select#type_Of_Move(name="")
							option(value="FCL") FCL
							option(value="LCL") LCL
							option(value="AIR") AIR
					.form-group.col-lg-6.AIR.hidden
						label(for="Dimension") Dimension*
						input#Dimension(type="text" placeholder="Dimension*")
				.form-row.FCL
					.form-group
						label(for="") Container/seal number
						.form-table-wrapper
							.row.no-gutters.tableForm
								.col-xl-6
									table
										thead
											tr
												th Type Container
												th ContainerNo
												th SealNo
												th GW
										tbody
											tr
												td.TypeContainer
													select
														option(value="0") 20'DC
														option(value="1") TEST
														option(value="2") TEST
														option(value="3") TEST
														option(value="4") TEST
												td.ContainerNo
													input(type="text" placeholder="Nhập")
												td.SealNo
													input(type="text" placeholder="Nhập")
												td.GW
													input(type="number", value="0",  min="0" max="100")
								.col-xl-6
									table
										thead
											tr
												th CBM
												th Number of Package
												th Unit
												th Tác Vụ
										tbody
											tr
												td.CBM
													input(type="number", value="0",  min="0" max="100")
												td.NumberOfPackage
													input(type="number", value="0",  min="0" max="100")
												td.Unit
													select
														option(value="") BAG
														option(value="") TEST
														option(value="") TEST
														option(value="") TEST
														option(value="") TEST
														option(value="") TEST
												td.tac-vu
													img.add(src="./img/icons/tacvu-them.svg", alt="", srcset="")
													img.delete(src="./img/icons/tacvu-xoa.svg", alt="", srcset="")
						//- table
						//- 	thead
						//- 		tr
						//- 			th Type Container
						//- 			th ContainerNo
						//- 			th SealNo
						//- 			th GW
						//- 			th CBM
						//- 			th Number of Package
						//- 			th Unit
						//- 			th Tác Vụ
						//- 	tbody
						//- 		tr.tableForm
						//- 			td.TypeContainer
						//- 				select
						//- 					option(value="0") 20'DC
						//- 					option(value="1") TEST
						//- 					option(value="2") TEST
						//- 					option(value="3") TEST
						//- 					option(value="4") TEST
						//- 			td.ContainerNo
						//- 				input(type="text" placeholder="Nhập")
						//- 			td.SealNo
						//- 				input(type="text" placeholder="Nhập")
						//- 			td.GW
						//- 				input(type="number", value="0",  min="0" max="100")
						//- 			td.CBM
						//- 				input(type="number", value="0",  min="0" max="100")
						//- 			td.NumberOfPackage
						//- 				input(type="number", value="0",  min="0" max="100")
						//- 			td.Unit
						//- 				select
						//- 					option(value="") BAG
						//- 					option(value="") TEST
						//- 					option(value="") TEST
						//- 					option(value="") TEST
						//- 					option(value="") TEST
						//- 					option(value="") TEST
						//- 			td.tac-vu
						//- 				img.add(src="./img/icons/tacvu-them.svg", alt="", srcset="")
						//- 				img.delete(src="./img/icons/tacvu-xoa.svg", alt="", srcset="")
				.form-row
					.form-group.col-lg-12
						label(for="remark") Remark
						textarea#remark(name="" placeholder="Remark").big
				button.btn.bg-blue ĐĂNG KÍ

		.col-lg-4
			include ../../_layout/_aside-menu.pug