.library {
	margin: 60px 0 115px;

	.title {
		h3 {
			font-size: 34px;
			color    : #2B2B2B;
		}
	}

	.list-item {
		display  : flex;
		flex-wrap: wrap;
		margin   : 60px -8px 0;

		.item {
			cursor       : pointer;
			flex         : 0 0 25%;
			max-width    : 25%;
			padding      : 0 8px;
			margin-bottom: 30px;

			figure {
				padding-bottom: 15px;
				border-bottom : 1px solid #F3F3F3;

				.box-img {
					position  : relative;
					height    : 220px;
					box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);

					.icon {
						background-image : url(../img/icons/library-img.svg);
						width            : 30px;
						height           : 30px;
						background-repeat: no-repeat;

						position      : absolute;
						top           : 50%;
						left          : 50%;
						transform     : translate(-50%, -50%);
						z-index       : 1;
						opacity       : 0;
						pointer-events: none;
						transition    : .5s all ease-in-out;
					}

					&:after {
						content       : '';
						position      : absolute;
						opacity       : 0;
						width         : 100%;
						height        : 100%;
						top           : 0;
						left          : 0;
						pointer-events: none;
						transition    : .5s all ease-in-out;

						background: rgb(188, 46, 49);
						background: -moz-linear-gradient(180deg, rgba(188, 46, 49, 0.9) 0%, rgba(188, 46, 49, 0.19931722689075626) 100%, rgba(188, 46, 49, 0) 100%);
						background: -webkit-linear-gradient(180deg, rgba(188, 46, 49, 0.9) 0%, rgba(188, 46, 49, 0.19931722689075626) 100%, rgba(188, 46, 49, 0) 100%);
						background: linear-gradient(180deg, rgba(188, 46, 49, 0.9) 0%, rgba(188, 46, 49, 0.19931722689075626) 100%, rgba(188, 46, 49, 0) 100%);
						filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc2e31", endColorstr="#bc2e31", GradientType=1);
					}
				}

				.box-video {
					position  : relative;
					background: #dddddd;
					box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
					height    : 210px;
					width     : 100%;

					.icon {
						background-image : url(../img/icons/library-video.svg);
						width            : 47px;
						height           : 47px;
						background-repeat: no-repeat;

						position      : absolute;
						top           : 50%;
						left          : 50%;
						transform     : translate(-50%, -50%);
						z-index       : 1;
						opacity       : 0;
						pointer-events: none;
						transition    : .5s all ease-in-out;
					}

					&:after {
						content       : '';
						position      : absolute;
						opacity       : 0;
						width         : 100%;
						height        : 100%;
						top           : 0;
						left          : 0;
						pointer-events: none;
						transition    : .5s all ease-in-out;

						background: rgb(62, 64, 149);
						background: -moz-linear-gradient(180deg, rgba(62, 64, 149, 0.9) 0%, rgba(62, 64, 149, 0.19931722689075626) 100%, rgba(62, 64, 149, 0) 100%);
						background: -webkit-linear-gradient(180deg, rgba(62, 64, 149, 0.9) 0%, rgba(62, 64, 149, 0.19931722689075626) 100%, rgba(62, 64, 149, 0) 100%);
						background: linear-gradient(180deg, rgba(62, 64, 149, 0.9) 0%, rgba(62, 64, 149, 0.19931722689075626) 100%, rgba(62, 64, 149, 0) 100%);
						filter    : progid:DXImageTransform.Microsoft.gradient(startColorstr="#3E4095", endColorstr="#3E4095", GradientType=1);
					}
				}

				figcaption {
					margin-top: 15px;

					h5 {
						font-size    : 18px;
						color        : #2B2B2B;
						font-weight  : 400;
						margin-bottom: 5px;

						span {
							display     : inline-block;
							margin-right: 5px;
							color       : #707070;
						}
					}

					p {
						font-size     : 13px;
						color         : #707070;
						letter-spacing: 4px;
					}
				}
			}

			&:hover {
				figure {
					.box-img {
						.icon {
							left          : 50%;
							transform     : translate(-50%, -50%);
							opacity       : 1;
							pointer-events: visible;
						}

						&:after {
							opacity: 1;
						}
					}

					.box-video {
						.icon {
							left          : 50%;
							transform     : translate(-50%, -50%);
							opacity       : 1;
							pointer-events: visible;
						}

						&:after {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.see-more {
		margin: 35px auto 0;
	}
}