section.list-clients
	.container
		.row.list-slider
			.col-lg-6
				.btn
					a(href="#") THÀNH VIÊN
				.swiper-container.slider-Member
					.swiper-wrapper
						.swiper-slide
							figure
								img(src="./img/list-cliens/1.png", alt="", srcset="")
						.swiper-slide
							figure
								img(src="./img/list-cliens/2.png", alt="", srcset="")
						.swiper-slide
							figure
								img(src="./img/list-cliens/3.png", alt="", srcset="")
					.swiper-button-prev
			.col-lg-6
				.btn
					a(href="#") KHÁCH HÀNG
				.swiper-container.slider-Customer
					.swiper-wrapper
						.swiper-slide
							figure
								img(src="./img/list-cliens/4.png", alt="", srcset="")
						.swiper-slide
							figure
								img(src="./img/list-cliens/5.png", alt="", srcset="")
						.swiper-slide
							figure
								img(src="./img/list-cliens/6.png", alt="", srcset="")
					.swiper-button-next