section.dealer-locator
	.row.no-gutters
		.col-lg-12
			figure.big-img
				img(src="./img/banner/2.png", alt="", srcset="")
				figcaption
					h3.wow.tada(data-wow-delay=".2s") NVP IN VIETNAM
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor amet incididunt ut labore et dolore magna aliqua!
		.col-lg-3
			figure.small-img.wow.fadeIn(data-wow-delay=".2s") 
				img.ofc(src="./img/dealer-locator/1.png", alt="", srcset="")
				figcaption
					h3 Ha Noi
					p Floor 4, Thang Long Building, 29 Thang Long St., Ward 4,  Tan Binh Dist., HCMC.
		.col-lg-3
			figure.small-img.wow.fadeIn(data-wow-delay=".4s") 
				img.ofc(src="./img/dealer-locator/2.png", alt="", srcset="")
				figcaption
					h3 Ho Chi Minh Headoffice
					p Floor 4, Thang Long Building, 29 Thang Long St., Ward 4,  Tan Binh Dist., HCMC.
		.col-lg-3
			figure.small-img.wow.fadeIn(data-wow-delay=".6s") 
				img.ofc(src="./img/dealer-locator/3.png", alt="", srcset="")
				figcaption
					h3 Binh Duong
					p Floor 4, Thang Long Building, 29 Thang Long St., Ward 4,  Tan Binh Dist., HCMC.
		.col-lg-3
			figure.small-img.wow.fadeIn(data-wow-delay=".8s") 
				img.ofc(src="./img/dealer-locator/4.png", alt="", srcset="")
				figcaption
					h3 Vung Tau
					p Floor 4, Thang Long Building, 29 Thang Long St., Ward 4,  Tan Binh Dist., HCMC