section.list-service-home
	.list-item
		.block-service.wow.fadeIn(data-wow-delay=".2s")
			figure.big-img
				img.ofc(src="./img/img-service/1.png", alt="", srcset="")
				figcaption
					h5.title VẬN CHUYỂN NỘI ĐỊA
					p.description.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
					a(href="#")
						img.svg(src="./img/icons/service-white.svg", alt="", srcset="")
		.block-service.wow.fadeIn(data-wow-delay=".4s")
			figure.small-img
				img.ofc(src="./img/img-service/2.png", alt="", srcset="")
				figcaption
					.box-content
						h5 VẬN CHUYỂN ĐƯỜNG BIỂN
						p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
						a(href="#")
							img.svg(src="./img/icons/service-white.svg", alt="", srcset="")
		.block-service.wow.fadeIn(data-wow-delay=".6s")
			figure.small-img
				img.ofc(src="./img/img-service/3.png", alt="", srcset="")
				figcaption
					.box-content
						h5 VẬN CHUYỂN ĐƯỜNG BIỂN
						p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
						a(href="#")
							img.svg(src="./img/icons/service-white.svg", alt="", srcset="")
		.block-service.wow.fadeIn(data-wow-delay=".8s")
			figure.small-img
				img.ofc(src="./img/img-service/4.png", alt="", srcset="")
				figcaption
					.box-content
						h5 VẬN CHUYỂN ĐƯỜNG BIỂN
						p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
						a(href="#")
							img.svg(src="./img/icons/service-white.svg", alt="", srcset="")
		.block-service.wow.fadeIn(data-wow-delay="1s")
			figure.big-img
				img.ofc(src="./img/img-service/6.png", alt="", srcset="")
				figcaption
					h5.title VẬN CHUYỂN NỘI ĐỊA
					p.description.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
					a(href="#")
						img.svg(src="./img/icons/service-white.svg", alt="", srcset="")
		.block-service.wow.fadeIn(data-wow-delay="1.2s")
			figure.small-img
				img.ofc(src="./img/img-service/5.png", alt="", srcset="")
				figcaption
					.box-content
						h5 VẬN CHUYỂN ĐƯỜNG BIỂN
						p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
						a(href="#")
							img.svg(src="./img/icons/service-white.svg", alt="", srcset="")