section.list-service-home
	.container-fluid
		.row.no-gutters
			//- HÌNH LỚN
			.col-lg-6.block-service
				figure.big-img.wow.fadeIn(data-wow-delay=".2s")
					img.ofc(src="./img/img-service/1.png", alt="", srcset="")
					figcaption
						h5.title VẬN CHUYỂN NỘI ĐỊA
						p.description.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
						a(href="#")
							img(src="./img/icons/service-white.svg", alt="", srcset="")
			//- CÓ 4 BOX NHỎ
			.col-lg-6.block-service
				.more-service
					.item.wow.fadeIn(data-wow-delay=".3s")
						figure.small-img.bg-black
							//- img.ofc(src="", alt="", srcset="")
							figcaption
								h5 VẬN CHUYỂN ĐƯỜNG BIỂN
								p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
								a(href="#")
									img(src="./img/icons/service-white.svg", alt="", srcset="")
					.item.wow.fadeIn(data-wow-delay=".4s")
						figure.small-img
							img.ofc(src="./img/img-service/2.png", alt="", srcset="")
					.item.wow.fadeIn(data-wow-delay=".5s")
						figure.small-img
							img.ofc(src="./img/img-service/3.png", alt="", srcset="")
					.item.wow.fadeIn(data-wow-delay=".6s")
						figure.small-img.bg-white
							//- img.ofc(src="", alt="", srcset="")
							figcaption
								h5 VẬN CHUYỂN DỰ ÁN
									br
									| CÔNG TRÌNH
								p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
								a(href="#")
									img(src="./img/icons/service-black.svg", alt="", srcset="")
			.col-lg-6.block-service
				.more-service
					.item.wow.fadeIn(data-wow-delay=".7s")
						figure.small-img
							img.ofc(src="./img/img-service/4.png", alt="", srcset="")
					.item.wow.fadeIn(data-wow-delay=".8s")
						figure.small-img.bg-black
							//- img.ofc(src="", alt="", srcset="")
							figcaption
								h5 KHAI BÁO HẢI QUAN
								p.description.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
								a(href="#")
									img(src="./img/icons/service-white.svg", alt="", srcset="")
					.item.wow.fadeIn(data-wow-delay=".9s")
						figure.small-img.bg-white
							//- img.ofc(src="", alt="", srcset="")
							figcaption
								h5 VẬN CHUYỂN
									br
									| HÀNG KHÔNG
								p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
								a(href="#")
									img(src="./img/icons/service-black.svg", alt="", srcset="")
					.item.wow.fadeIn(data-wow-delay="1s")
						figure.small-img
							img.ofc(src="./img/img-service/5.png", alt="", srcset="")
			.col-lg-6.block-service
				figure.big-img.wow.fadeIn(data-wow-delay="1.1s")
					img.ofc(src="./img/img-service/6.png", alt="", srcset="")
					figcaption
						h5 VẬN CHUYỂN NỘI ĐỊA
						p.limit-line Luôn tự hào là nhà tiên phong trong việc gom hàng lẻ trực tiếp đi Mỹ...
						a(href="#")
							img(src="./img/icons/service-white.svg", alt="", srcset="")