section.form-tuvan
	.container
		.btn
			a(href="#") Xem thêm
		.block-form-tuvan
			h3 Cần vận chuyển trên toàn thế giới ?
				br
				| TƯ VẤN MIỄN PHÍ
			form(action="#")
				.form-row
					.form-group.col-lg-4
						input(type="text" placeholder="Họ và tên*")
						img.icon(src="./img/icons/form-user.svg", alt="", srcset="")
					.form-group.col-lg-4
						input(type="text" placeholder="Email")
						img.icon(src="./img/icons/form-email.svg", alt="", srcset="")
					.form-group.col-lg-4
						input(type="text" placeholder="Số điện thoại")
						img.icon(src="./img/icons/form-phone.svg", alt="", srcset="")
					.form-group.col-lg-12
						textarea(placeholder="Nội dung tin nhắn")
						button.submit
							img(src="./img/icons/submit-form.svg", alt="")
							span Gửi