footer
	.container
		.row
			.col-lg-3.info-company
				.logo
					a(href="#")
						img(src="./img/logo-white.png", alt="", srcset="")
				ul.list-item
					li.item Floor 4, Thang Long Building, 29 Thang Long, Ward 4., Tan Binh Dist., HCMC.
					li.item Tel: (84.28) 3848 7858
			.col-lg-6.list-link-footer
				.block-link-footer
					.title Report
					ul.list-item
						li.item
							a(href="#") Delivery Order
						li.item
							a(href="#") Arival Notice
						li.item
							a(href="#") Proof of Delivery
				.block-link-footer
					.title Track & Trace
					ul.list-item
						li.item
							a(href="#") Import Schedule
						li.item
							a(href="#") Export Schedule
						li.item
							a(href="#") Bill of Landing
				.block-link-footer
					.title Request
					ul.list-item
						li.item
							a(href="#") Booking
						li.item
							a(href="#") Submit SI
				.block-link-footer
					.title Thư viện
					ul.list-item
						li.item
							a(href="thuvien-hinhanh.html") Hình ảnh
						li.item
							a(href="thuvien-video.html") Video
			.col-lg-3.follow-me
				.form-group-1
					h5 Theo dõi bản tin của chúng tôi!
					input(type="text" placeholder="NHẬP EMAIL CỦA BẠN")
				.form-group-2
					h5 Theo dõi bản tin của chúng tôi!
					select(name="")
						option(value="0") -- Liên kết hữu ích --
						optgroup(label="Group - 1")
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
						optgroup(label="Group - 2")
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
						optgroup(label="Group - 3")
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
						optgroup(label="Group - 4")
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
							option(value="") Test
.coppy-right
	.container
		h5.left Copyright © 2019 NPV Express & Logistics.
		h5.right All rights reserved | Designed by Web4G