header
	.container
		.row.no-gutters
			.col-lg-auto
				.logo
					a(href="index.html")
						img(src="./img/logo.png", alt="", srcset="")
			.col-no-rel
				.top-header
					ul.social-media-menu
						.item
							a(href="#")
								img(src="./img/icons/printest.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/facebook.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/twitter.svg", alt="", srcset="")
					.search
						input(type="text" placeholder="Tìm kiếm")
						button
							img(src="./img/icons/search.svg", alt="", srcset="")
				#mobile-button
					img(src="./img/icons/menu-mobile.svg", alt="")
				.bottom-header
					.nav-list
						.nav-item.active GIỚI THIỆU
							.sub-menu
								.item
									a(href="gioithieu.html") GIỚI THIỆU VỀ CÔNG TY
								.item
									a(href="tamnhinsumenh.html") TẦM NHÌN SỨ MỆNH
								.item
									a(href="lichsuhinhthanh.html") LỊCH SỬ HÌNH THÀNH
								.item
									a(href="cacchinhsach.html") CÁC CHÍNH SÁCH
						.nav-item
							a(href="dichvu.html") DỊCH VỤ
						.nav-item
							a(href="yeucaubaogia.html") YÊU CẦU BÁO GIÁ
						.nav-item TIỆN ÍCH
							.sub-menu
								.item
									a(href="tienich-container.html") KÍCH THƯỚC CONTAINER
								.item
									a(href="tienich-incoterm.html") INCOTERM 2000
								.item
									a(href="tienich-phuphi.html") PHỤ PHÍ - PHỤ PHÍ HÀNG XUẤT
								.item
									a(href="tienich-chuyendoi.html") CHUYỂN ĐỔI ĐƠN VỊ
								.item
									a(href="tienich-cangbien.html") CẢNG BIỂN, SÂN BAY CHÍNH
								.item
									a(href="tienich-tudien.html") TỪ ĐIỂN HẢI
								.item
									a(href="tienich-tigia.html") TỈ GIÁ NGOẠI TỆ
						.nav-item TRA CỨU THÔNG TIN
							.sub-menu
								.item
									a(href="kiemtrahangnhap.html") TRA CỨU HÀNG NHẬP
								.item
									a(href="kiemtrahangxuat.html") TRA CỨU HÀNG XUẤT
								.item
									a(href="kiemtravantaidon.html") KIỂM TRA VẬN TẢI ĐƠN
						.nav-item
							a(href="tintuc.html") TUYỂN DỤNG
						.nav-item LIÊN HỆ
							.sub-menu
								.item
									a(href="lienhetructiep.html") LIÊN HỆ TRỰC TIẾP
								.item
									a(href="hethongcuahang.html") HỆ THỐNG CỬA HÀNG