header
	.container
		.row.no-gutters
			.col-lg-auto
				.logo
					a(href="index.html")
						img(src="./img/logo.png", alt="", srcset="")
			.col-no-rel
				.top-header
					ul.social-media
						.item
							a(href="#")
								img(src="./img/icons/printest.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/facebook.svg", alt="", srcset="")
						.item
							a(href="#")
								img(src="./img/icons/twitter.svg", alt="", srcset="")
					.search
						input(type="text" placeholder="Tìm kiếm")
						button
							img(src="./img/icons/search.svg", alt="", srcset="")
				.bottom-header
					.nav-list
						.nav-item.active GIỚI THIỆU
							.sub-menu
								.item
									a(href="gioithieu.html") GIỚI THIỆU VỀ CÔNG TY
								.item
									a(href="tamnhinsumenh.html") TẦM NHÌN SỨ MỆNH
								.item
									a(href="lichsuhinhthanh.html") LỊCH SỬ HÌNH THÀNH
								.item
									a(href="cacchinhsach.html") CÁC CHÍNH SÁCH
						.nav-item
							a(href="dichvu.html") DỊCH VỤ
						.nav-item
							a(href="yeucaubaogia.html") YÊU CẦU BÁO GIÁ
						.nav-item TIỆN ÍCH
							.sub-menu
								.item
									a(href="#") KÍCH THƯỚC CONTAINER
								.item
									a(href="#") INCOTERM 2000
								.item
									a(href="#") PHỤ PHÍ - PHỤ PHÍ HÀNG XUẤT
								.item
									a(href="#") CHUYỂN ĐỔI ĐƠN VỊ
								.item
									a(href="#") CẢNG BIỂN, SÂN BAY CHÍNH
								.item
									a(href="#") TỪ ĐIỂN HẢI
								.item
									a(href="#") TỈ GIÁ NGOẠI TỆ
						.nav-item TRA CỨU THÔNG TIN
							.sub-menu
								.item
									a(href="kiemtrahangnhap.html") TRA CỨU HÀNG NHẬP
								.item
									a(href="kiemtrahangxuat.html") TRA CỨU HÀNG XUẤT
								.item
									a(href="kiemtravantaidon.html") KIỂM TRA VẬN TẢI ĐƠN
						.nav-item
							a(href="tintuc.html") TUYỂN DỤNG
						.nav-item
							a(href="lienhe.html") LIÊN HỆ