.social-list
	span Chia sẻ:
	nav
		a(href="#")
			<svg xmlns="http://www.w3.org/2000/svg" id="Group_9" data-name="Group 9" width="12.109" height="15.565" viewBox="0 0 12.109 15.565"><path id="Path_6" data-name="Path 6" d="M1495.508,83.631a4.239,4.239,0,0,1-2.089-.994c-.408,2.143-.907,4.2-2.386,5.27-.457-3.239.67-5.671,1.193-8.253-.892-1.5.107-4.524,1.989-3.779,2.315.916-2.005,5.583.9,6.166,3.028.608,4.264-5.253,2.386-7.16-2.712-2.753-7.9-.063-7.259,3.878.155.963,1.151,1.256.4,2.585-1.736-.385-2.254-1.754-2.187-3.58a5.843,5.843,0,0,1,5.27-5.37c3.27-.366,6.338,1.2,6.762,4.276.477,3.471-1.476,7.231-4.972,6.961Zm0,0" transform="translate(-1488.442 -72.341)" fill="#bc2e31"/></svg>
		a(href="#")
			<svg xmlns="http://www.w3.org/2000/svg" width="7.431" height="15.014" viewBox="0 0 7.431 15.014"><path id="Path_8" data-name="Path 8" d="M1094.966,74.145h-2.211v7.117h-3.279V74.145h-1.559V71.359h1.559v-1.8a3.074,3.074,0,0,1,3.308-3.308l2.429.01v2.7h-1.762a.667.667,0,0,0-.7.759v1.64h2.5Zm.382.084" transform="translate(-1087.917 -66.248)" fill="#bc2e31"/></svg>
		a(href="#")
			<svg xmlns="http://www.w3.org/2000/svg" width="16.512" height="13.419" viewBox="0 0 16.512 13.419"><g id="Group_18" data-name="Group 18" transform="translate(0 0)"><path id="Path_10" data-name="Path 10" d="M1235.9,68.7a6.759,6.759,0,0,1-1.946.533,3.4,3.4,0,0,0,1.49-1.874,6.784,6.784,0,0,1-2.151.822,3.39,3.39,0,0,0-5.773,3.09,9.616,9.616,0,0,1-6.982-3.54,3.39,3.39,0,0,0,1.048,4.523,3.373,3.373,0,0,1-1.534-.424c0,.014,0,.029,0,.043a3.389,3.389,0,0,0,2.717,3.321,3.392,3.392,0,0,1-1.53.059,3.391,3.391,0,0,0,3.165,2.352,6.837,6.837,0,0,1-5.015,1.4,9.634,9.634,0,0,0,14.831-8.117q0-.22-.01-.438A6.883,6.883,0,0,0,1235.9,68.7Zm0,0" transform="translate(-1219.393 -67.11)" fill="#bc2e31"/></g></svg>