.container
	.row
		.col-lg-8.form-report-request
			.title.wow.fadeIn(data-wow-delay=".3s")
				h3 KIỂM TRA LỊCH TRÌNH HÀNG XUẤT
			.block-form
				form(action="#")
					.form-group
						label(for="hbl") Enter HBL
						.form-input
							input#hbl(type="text", placeholder="Your Number")
							span.error Bắt lỗi
					.form-group
						label(for="id") Enter Partner ID
						.form-input
							input#id(type="text", placeholder="Your Number")
							span.error Bắt lỗi
					button.btn TRACKING
		.col-lg-4
			include _aside-tracking.pug