#doc-form {
	margin-top   : 45px;
	margin-bottom: 200px;

	.header-docForm {
		.thong-tin-cong-ty {
			color: $main-color-1;
		}
	}

	.content-docForm {
		margin-top: 30px;

		.title {
			text-align : center;
			font-weight: 700;

			.title-big {
				font-size: 40px;
			}

			.title-small {
				font-size : 20px;
				font-style: italic;
			}
		}

		.box-right {
			margin-left  : auto;
			padding-right: 15px;

			span {
				position    : relative;
				display     : inline-block;
				padding-left: 5px;
				font-weight : 700;

				&.title {
					padding-right: 50px;
					width        : 180px;

					&:after {
						content : ':';
						position: absolute;
						right   : 0;
						top     : 0;
					}
				}
			}
		}

		.kinh-gui {
			padding-left: 170px;

			span {
				position    : relative;
				width       : 80%;
				font-size   : 20px;
				font-weight : 700;
				padding-left: 5px;
				margin-left : auto;

				&.title {
					width: 190px;

					&:after {
						content : ':';
						position: absolute;
						right   : 0;
						top     : 0;
					}
				}
			}
		}

		.text {
			margin: 15px 0;

			p {
				&.bold {
					font-weight: 700;
				}

				&.italic {
					font-style: italic;
				}
			}
		}

		.thong-tin-don-hang {
			margin-top: 15px;

			.item {
				margin-bottom: 15px;

				p {
					&:nth-child(2) {
						font-style: italic;
						font-size : 14px;
					}

					&.bold {
						font-weight: 700;
					}

					&.text-center {
						text-align: center;
					}
				}
			}
		}

		.bang-thong-tin-don-hang {
			table {
				width : 100%;
				border: 1px solid #000000;

				thead {
					tr {
						th {
							border-right: 1px solid #000000;
							padding     : 5px;
							text-align  : center;

							p {
								&:last-child {
									font-size : 13px;
									font-style: italic;
								}
							}
						}
					}
				}

				tbody {
					tr {
						border-top: 1px solid #000000;

						td {
							padding     : 20px;
							text-align  : center;
							border-right: 1px solid #000000;

							p {
								&.bold {
									font-weight: 700;
								}
							}
						}
					}
				}
			}
		}

		.mot-so-luu-y {
			margin-top : 30px;
			font-weight: 700;
			line-height: 30px;
		}

		.tong-chi-phi {
			width          : 100%;
			display        : flex;
			padding-right  : 15px;
			justify-content: space-between;
			margin-top     : 15px;
			margin-left    : 50%;
			font-weight    : 700;
		}

		.date {
			margin-top: 150px;
			text-align: right;
		}

		.nguoi-gui {
			span {
				i {
					font-size: 14px;
				}
			}

			p {
				&:first-child {
					font-weight: 700;
				}
			}

			.row {
				&:nth-child(2) {
					margin-top: 10px;
				}
			}
		}

		.giao-hang-theo {
			margin-top : 10px;
			font-weight: 700;

			h5 {
				text-align: center;
				padding   : 10px;
				border    : 1px solid #000000;
			}
		}

		.danh-sach-cac-chi-phi {
			margin-top: 40px;

			.ten-chi-phi {
				position    : relative;
				padding-left: 35px;

				&:after {
					content         : '';
					position        : absolute;
					left            : 0;
					top             : 0;
					width           : 26px;
					height          : 26px;
					background-image: url(../img/icons/checked.svg);
				}
			}

			ul {
				display        : flex;
				justify-content: space-between;

				&.tong-tien {
					width      : 50%;
					padding    : 0 15px;
					font-weight: 700;
					margin-left: auto;
					padding-top: 10px;
					border-top : 1px solid #000000;
				}
			}

			.row {
				margin-bottom: 10px;
			}
		}

		.bill {
			font-weight: 700;

			h3 {
				text-decoration: underline;
				margin-bottom  : 10px;
			}

			span {
				font-weight: 400;
			}

			.item {
				margin-bottom  : 5px;
				display        : flex;
				justify-content: space-between;
			}
		}

		.routing {

			h3 {
				font-weight    : 700;
				text-decoration: underline;
				margin-bottom  : 10px;
			}

			table {
				width : 100%;
				border: 1px solid #000000;

				thead {
					tr {
						th {
							font-size      : 13px;
							border-right   : 1px solid #000000;
							padding        : 5px;
							text-align     : center;
							text-decoration: underline;
						}
					}
				}
			}

			tbody {
				tr {
					border-top: 1px solid #000000;

					td {
						padding     : 5px;
						border-right: 1px solid #000000;
						text-align  : center;
					}
				}
			}
		}

		.thoi-gian-van-chuyen {
			margin-top: 30px;

			.item {
				display    : flex;
				font-weight: 700;

				p {
					position    : relative;
					width       : 200px;
					margin-right: 10px;

					&:after {
						content : ':';
						position: absolute;
						right   : 0;
						top     : 0;
					}
				}
			}
		}
	}
}